# Project 2

In [1]:
import pandas as pd
import resources as helpers    # Has data_exploration, data_preperation and data_visualization
import matplotlib.pyplot as plt
import statsmodels.api as sm
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

## Data Exploration

In [2]:
df = pd.read_csv('dsc-phase-2-project-v2-5-main/data/kc_house_data.csv')    #Read the file
helpers.de.look_dataframe(df)    #Look at dataframe
helpers.dp.correlation_with(df, 'price')
helpers.de.look_columns(df, ['heat_source', 'sewer_system'])    # Look at the columns with missing values

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,PUBLIC,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,PUBLIC,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,PUBLIC,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,PUBLIC,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,PUBLIC,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188

Column Names: ['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'greenbelt', 'nuisance', 'view', 'condition', 'grade', 'heat_source', 'sewer_system', 'sqft_above', 'sqft_basement', 'sqft_garage', 'sqft_patio', 'yr_built', 'yr_renovated', 'address', 'lat', 'long']
Number of observation: 30155
Duplicates detected

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
4845,1233100736,9/28/2021,2600000.0,3,4.0,3500,8455,2.0,NO,NO,...,PUBLIC,2590,1410,500,290,2019,0,"12611 Northeast 87th Place, Kirkland, Washingt...",47.68069,-122.172135
4846,1233100736,9/28/2021,2600000.0,3,4.0,3500,8455,2.0,NO,NO,...,PUBLIC,2590,1410,500,290,2019,0,"12611 Northeast 87th Place, Kirkland, Washingt...",47.68069,-122.172135

N/A detected
Columns with NaN:  ['heat_source', 'sewer_system']
heat_source has 8/30155 unique observations.
Gas                  20583
Electricity           6465
Oil                   2899
Gas/Solar               93
Electricity/Solar       59
Other                   20
Oil/Solar                4
Name: heat_source, dtype: int64
Number of missing values: 32
sewer_system has 5/30155 unique observations.
PUBLIC                25777
PRIVATE                4355
PRIVATE RESTRICTED        6
PUBLIC RESTRICTED         3
Name: sewer_system, dtype: int64
Number of missing values: 14

   heat_source sewer_system
0          Gas       PUBLIC
1          Oil       PUBLIC
2          Gas       PUBLIC
3          Gas       PUBLIC
4  Electricity       PUBLIC

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30155 entries, 0 to 30154
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   heat_source   30123 non-null  object
 1   sewer_system  30141 non-null  object
dtypes: object(2)
memory usage: 471.3+ KB

None

In [3]:
## Setup for columns and subsets
useful_col = ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront'
              , 'greenbelt', 'nuisance', 'view', 'condition', 'grade', 'heat_source', 'sewer_system'
              , 'sqft_above', 'sqft_basement', 'sqft_garage', 'sqft_patio']

useless_col = ['date', 'id', 'lat', 'long', 'address']
categorical = [ 'bedrooms', 'bathrooms', 'floors', 'waterfront', 'greenbelt', 'nuisance'
               , 'view', 'condition', 'grade', 'heat_source', 'sewer_system']
continuous = [column for column in useful_col if column not in categorical]

**Column Names:** <br>
'id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'greenbelt', 'nuisance', 'view', 'condition', 'grade', 'heat_source', 'sewer_system', 'sqft_above', 'sqft_basement', 'sqft_garage', 'sqft_patio', 'yr_built', 'yr_renovated', 'address', 'lat', 'long'

**Useful:** <br>
'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'greenbelt', 'nuisance', 'view', 'condition', 'grade', 'heat_source', 'sewer_system', 'sqft_above', 'sqft_basement', 'sqft_garage', 'sqft_patio'

**Useless:** <br>
'date', 'id', 'lat', 'long', 'address'

**Potentially Useful:** <br>
'yr_built', 'yr_renovated'

**Actions Needed**
1. Delete duplicates
2. Remove missing values
3. Remove unnecessary rows and columns
4. Remove Outliers
5. Group Small samples categories

## Data Preperations
**Main Dataframe with the least changes** <br>
df_cleaned: Removed outliers, rows, columns and replaced grade naming convention <br>
df_num: All the columns that are numbers including price <br>
df_obj: All the columns that are objects not including price <br>
**Used mainly for plotting** <br>
df_num_cat: All the columns that are categorical integers with price <br>
df_obj_cat All the columns that are categorical objects with price <br>
df_num_only All the columns that are continuous data type with price <br>
**Results with correlation (Only numerical variables)** <br>
corr_all: zip file for the correlation from df_cleaned <br>
best_corr: Dictionary of the corr_all sorted by the best correlation, cut off the last three due to usage <br>

In [4]:
df_cleaned = helpers.dp.check_and_drop(df)    ## Dropped and removed rows that has small amount of missing values
df_cleaned = helpers.dp.outliers_remove(df_cleaned, 'price')    ## Remove outliers of price
df_cleaned.drop(labels = useless_col, axis = 1, inplace = True)    # Drop columns that wont be useful right now
df_cleaned.replace(df_cleaned['grade'].value_counts().index, [7, 8,9,6,10,11, 5,12,4,13,3,2], inplace= True)

Number of Missing Values: 46
Dropping rows: heat_source
Dropping rows: sewer_system
Number of Missing Values: 0
Number of duplicates: 1
Removed 1 duplicates
Number of duplicates: 0
1214 observations were removed.

In [5]:
df_num, df_obj = helpers.dp.seperate_dataframe(df_cleaned)    ## Seperate the dataframe from objects and integers
num_cat = [column for column in df_num if column in categorical]    ## Number categories
obj_cat = [column for column in df_obj if column in categorical]    ## Object categories

In [6]:
df_num_cat = df_num[num_cat].copy()    ## Dataframe with the number categories
df_num_cat = pd.concat([df_num_cat, df_num['price']], axis = 1)

df_obj_cat = df_obj[obj_cat].copy()    ## Dataframe with the object categories
df_obj_cat = pd.concat([df_obj_cat, df_num['price']], axis = 1)

df_num_only = df_num[continuous].copy()    ## Dataframe with only continuous numbers

In [7]:
corr_all = zip(df_cleaned.corrwith(df_cleaned['price']).index[1:], df_cleaned.corrwith(df_cleaned['price']).values[1:])
best_corr = {x:y for x,y in corr_all}
best_corr = sorted(best_corr.items(), key =  lambda x: x[1], reverse= True)
best_corr = best_corr[0:9]

## Data Models
*Note: Categorical can't have a model created without one hot encoding* <br>
Model will be based off the top correlating attributes: <br>
Continous: 'sqft_living', 'sqft_above', 'sqft_patio', sqft_garage', 'sqft_basement' <br>
Category: 'bathrooms', 'grade', 'bedrooms',  'floors' <br>

Model_1: Only regression model with sqft_living with a .362 R2 <br>
Model_2: With both sqft_living and sqft_above with a .362 R2. **Decide to not include since but are very similar** <br>
Model_3: With sqft_living and floors - R2: .363. **Small improvement** <br>

### Simple Model

In [8]:
#1. Only sqft_living
X = df_num['sqft_living']
y = df_num['price']
model_1 = sm.OLS(y, sm.add_constant(X))
result_1 = model_1.fit()

In [9]:
print(result_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.362
Model:                            OLS   Adj. R-squared:                  0.362
Method:                 Least Squares   F-statistic:                 1.642e+04
Date:                Mon, 16 Jan 2023   Prob (F-statistic):               0.00
Time:                        23:12:43   Log-Likelihood:            -4.1338e+05
No. Observations:               28896   AIC:                         8.268e+05
Df Residuals:                   28894   BIC:                         8.268e+05
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const         2.61e+05   6094.353     42.822      0.000    2.49e+05    2.73e+05
sqft_living   355.9612      2.778    128.138      0.000     350.516     361.406
==============================================================================
Omnibus:                     2592.845   Durbin-Watson:                   2.013
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4177.313
Skew:                           0.670   Prob(JB):                         0.00
Kurtosis:                       4.293   Cond. No.                     5.75e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.75e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [10]:
X = df_num[['sqft_living', 'sqft_above']]
y = df_num['price']
model_2 = sm.OLS(y, sm.add_constant(X))
result_2 = model_2.fit()

In [11]:
print(result_2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.362
Model:                            OLS   Adj. R-squared:                  0.362
Method:                 Least Squares   F-statistic:                     8210.
Date:                Mon, 16 Jan 2023   Prob (F-statistic):               0.00
Time:                        23:12:43   Log-Likelihood:            -4.1338e+05
No. Observations:               28896   AIC:                         8.268e+05
Df Residuals:                   28893   BIC:                         8.268e+05
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const        2.615e+05   6136.172     42.616      0.000    2.49e+05    2.74e+05
sqft_living   359.4312      5.488     65.500      0.000     348.675     370.187
sqft_above     -4.3435      5.924     -0.733      0.463     -15.954       7.267
==============================================================================
Omnibus:                     2595.090   Durbin-Watson:                   2.013
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4183.817
Skew:                           0.671   Prob(JB):                         0.00
Kurtosis:                       4.295   Cond. No.                     7.63e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.63e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [16]:
X = df_num[['sqft_living', 'floors']]
y = df_num['price']
model_3 = sm.OLS(y, sm.add_constant(X))
result_3 = model_3.fit()

In [17]:
print(result_3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.363
Model:                            OLS   Adj. R-squared:                  0.363
Method:                 Least Squares   F-statistic:                     8240.
Date:                Mon, 16 Jan 2023   Prob (F-statistic):               0.00
Time:                        23:14:09   Log-Likelihood:            -4.1336e+05
No. Observations:               28896   AIC:                         8.267e+05
Df Residuals:                   28893   BIC:                         8.268e+05
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const        2.307e+05   7765.018     29.714      0.000    2.16e+05    2.46e+05
sqft_living   350.5469      2.907    120.589      0.000     344.849     356.245
floors       2.692e+04   4287.816      6.279      0.000    1.85e+04    3.53e+04
==============================================================================
Omnibus:                     2658.537   Durbin-Watson:                   2.013
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4306.024
Skew:                           0.682   Prob(JB):                         0.00
Kurtosis:                       4.310   Cond. No.                     7.83e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.83e+03. This might indicate that there are
strong multicollinearity or other numerical problems.